<h1>FX-u-like</h1>

<form action='/convert' method='get'>
	Date: <input type='date_field' value='<%= Date.today %>' name='date'/><br>
	<br>
	Amount: <input type='text' name='amount'/><br>
	<br>
	From: <input type='text' name='base_currency'/><br>
	<br>
	To: <input type='text' name='counter_currency'/><br>
	<br>
	<button>Convert</button>
</form>

<% if @result %>
  <section>
  	<hr/>
    <header>
      <h1>Conversion</h1>
    </header>
    <p>Original amount: <%= sprintf "%.2f", @amount %> <%= @base_currency %></p>
    <p>Converted amount: <%= sprintf "%.2f", @result %> <%= @counter_currency %></p>
  </section>
<% end %>